.About {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.About a{
  color: #ffff00;
}

.App {
  text-align: center;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  animation: bgColor 30s infinite linear;
  height: 100%;
  min-height: 100vh;
}
@keyframes bgColor {
  12.5% {
    background-color: #ff0000;
  }
  25% {
    background-color: #ffa500;
  }
  37.5% {
    background-color: #ffff00;
  }
  50% {
    background-color: #7fff00;
  }
  62.5% {
    background-color: #00ffff;
  }
  75% {
    background-color: #0000ff;
  }
  87.5% {
    background-color: #9932cc;
  }
  100% {
    background-color: #ff1493;
  }
}
